/* Admin Colours */

$admin_white: #ffffff;
$admin_grey_light: #e3e3e3;
$admin_grey_lighter: #c9c9c9;
$admin_grey: #9b9b9b;
$admin_grey_dark: #2c2c2c;
$admin_black: #000000;
$admin_pink: #e60148;

$admin_green: #35c930;
$admin_red: #f72f2f;

$admin_main: $admin_pink;
