@import "../vars.scss";

.h1 {
    font-size: 20px;
    font-family: $bold;
    text-transform: uppercase;
    line-height: 24px;
    color: $admin_black;
    letter-spacing: 4px;
}
.h2,
.h2_white {
    font-size: 14px;
    font-family: $bold;
    text-transform: uppercase;
    line-height: 20px;
    color: $admin_black;
    letter-spacing: 2.8px;
}
.h3 {
    font-size: 12px;
    font-family: $regular;
    text-transform: uppercase;
    line-height: 16px;
    color: $admin_black;
}

.button_small {
    font-size: 12px;
    font-family: $regular;
    text-transform: uppercase;
    color: $admin_white;
    letter-spacing: 1px;
}
.button_large {
    font-size: 16px;
    font-family: $regular;
    text-transform: uppercase;
    color: $admin_white;
    letter-spacing: 1px;
}

.button_header {
    font-size: 16px;
    font-family: $medium;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.intro_title {
    font-size: 12px;
    width: 200px;
    font-family: $regular;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 160%;
}

.regular {
    font-size: 11px;
    font-family: $regular;
    line-height: 18px;
    color: $admin_black;
}
.medium {
    font-size: 11px;
    font-family: $medium;
    line-height: 18px;
    color: $admin_grey;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

.h2_white {
    color: $admin_white;
}

@media (min-width: $breakpoint_1) {
    .regular {
        font-size: 13px;
        line-height: 20px;
    }
    .medium {
        font-size: 13px;
        line-height: 20px;
    }
    .h1 {
        font-size: 22px;
        line-height: 26px;
    }
    .h2,
    .h2_white {
        font-size: 16px;
        line-height: 22px;
    }
    .h3 {
        font-size: 14px;
        line-height: 18px;
    }

    .intro_title {
        width: 100%;
        font-size: 16px;
    }
}

@media (min-width: $breakpoint_2) {
    .regular {
        font-size: 16px;
        line-height: 25px;
    }
    .medium {
        font-size: 16px;
        line-height: 25px;
    }
    .h1 {
        font-size: 25px;
        line-height: 29px;
    }
    .h2,
    .h2_white {
        font-size: 19px;
        line-height: 25px;
    }
    .h3 {
        font-size: 17px;
        line-height: 21px;
    }

    .button_small {
        font-size: 14px;
    }
    .button_large {
        font-size: 18px;
    }

    .intro_title {
        line-height: 180%;
        font-size: 30px;
        letter-spacing: 3px;
    }
}
