@import "web/vars/vars";

.header_desktop {
    visibility: hidden;
    opacity: 0;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
}

.header_desktop_link {
    cursor: pointer;
    padding: 0 20px;
    line-height: 60px;
    @include transition(
        color 200ms ease-in-out,
        border-color 200ms ease-in-out
    );
    &:hover {
        color: $main_color_1;
    }
}

.header_desktop_link_padding {
    padding: 0 10px;
}

.header_desktop_logo_container {
    flex: 1;
}

.header_desktop_logo {
    width: 140px; // 80
    height: 40px; // 50
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/web/images/header/logo.svg);
    @include transition(width 400ms ease-in-out, height 400ms ease-in-out);
}

@media (min-width: 1300px) {
    .header_desktop {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}
